/* style.css */

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ustawia grę na całą wysokość ekranu */
}

.game-board {
  background-color: #f0f0f0; /* Kolor tła planszy */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
}

.board-row {
  display: flex;
}

.square {
  background-color: #fff; /* Kolor tła pola */
  border: 1px solid #ccc; /* Grubość i kolor obramowania pola */
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin-right: -1px;
  margin-bottom: -1px;
  transition: background-color 1s ease; /* Animacja zmiany koloru tła */
}

.square:hover {
  background-color: #f0f0f0; /* Kolor tła pola po najechaniu myszką */
}

.game-info {
  margin-top: 20px;
  animation: fadeIn 1s ease; /* Dodanie animacji */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-info ol {
  list-style-type: none;
  padding-left: 0;
  animation: fadeIn 1s ease;
}

.game-info ol li {
  margin-bottom: 5px;
  animation: fadeIn 1s ease;
}

.game-info button {
  background-color: #007bff; /* Kolor tła przycisku */
  color: #fff; /* Kolor tekstu */
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease; /* Animacja zmiany koloru tła */
}

.game-info button:hover {
  background-color: #0056b3; /* Kolor tła przycisku po najechaniu myszką */
}
